*{
    margin: 20px;
}
.overlay{
    
    width: 100%;
    height: 100%;
    
    background-color: pink;
}
#msg{
    text-align: center;
    color: black;
}

.popup{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    animation: popIn 0.8s ease-in;
    
}
@keyframes popIn {
    from{
        transform: scale(0.9);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

#cookie-btn{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
}